/* LOGO */

:root{
    --fill: #336562;
    --accent: #39E991;
    --background: #F2F1F4;
}

h1 {
    font-family: 'Big Shoulders Stencil Display', 'Arial', 'Helvetica', cursive;
    font-size: 5rem;
    padding: 10px;
}

h1 .dropCap{
    font-style: italic;
    margin-right: 10px;
    color: var(--accent);
}

#companyName {
    color: var(--fill);
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    background-color: var(--background);
    border-bottom: 3px solid var(--fill);
}

header nav ul {
    height: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
}

header nav ul li a {
    padding: 20px 3px 20px 5px;
}

header nav ul li a span, header nav ul li a div {
    display: inline;
}

header nav ul li a div {
    margin-left: 10px;
}
