
header nav ul li {
    margin: 0 10px 0 10px;
    padding: 10px 0 10px 0;
}

header nav ul li a {
    font-family: 'Balsamiq Sans', 'Arial', 'Helvetica', cursive;
    font-size: 1rem;
    text-decoration: none;
    color: var(--fill);
}

header nav ul li > span {
    font-size: 1rem;
}

#company-button {
    background-color: var(--fill);
    padding: 20px 5px;
    border-radius: 10px;
}

#company-button a {
    color: #ffffff;
}

header nav ul li a:hover {
    background-color: var(--fill);
    color: #ffffff;
    border-radius: 7px;
    transition: 0.2s all ease-in;
}

