/* BODY */

body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 1rem;
}

/* LOGO */

:root{
    --fill: #336562;
    --accent: #39E991;
    --background: #F2F1F4;
}

h1 {
    font-family: 'Big Shoulders Stencil Display', 'Arial', 'Helvetica', cursive;
    font-size: 5rem;
    padding: 10px;
}

h1 .dropCap{
    font-style: italic;
    margin-right: 10px;
    color: var(--accent);
}

#companyName {
    color: var(--fill);
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    background-color: var(--background);
    border-bottom: 3px solid var(--fill);
}

header nav ul {
    height: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
}

header nav ul li {
    margin: 0 10px 0 10px;
    padding: 10px 0 10px 0;
}

header nav ul li a {
    font-family: 'Balsamiq Sans', 'Arial', 'Helvetica', cursive;
    font-size: 1rem;
    text-decoration: none;
    color: var(--fill);
    margin-left: 10px;
}

header nav ul li > span {
    font-size: 1rem;
}

header nav ul i {
    color: var(--fill);
}

#company-button {
    background-color: var(--fill);
    padding: 10px;
    border-radius: 10px;
}

#company-button a {
    color: #ffffff;
}

