
header nav > ul li {
    margin: 20px;
}

header nav > ul li a {
    font-family: 'Balsamiq Sans', 'Arial', 'Helvetica', cursive;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--fill);
    margin-left: 10px;
}

header nav > ul li > span {
    font-size: 1.5rem;
}

#register-button a, #login-button a {
    background-color: var(--fill);
    border-radius: 10px;
    border: 3px solid var(--fill);
    padding: 10px;
}

#register-button a:hover, #login-button a:hover {
    background-color: var(--accent);
    color: var(--fill);
    cursor: pointer;
}

.white {
    color: #FFFFFF;
}

header nav > ul li a:hover {
    background-color: var(--fill);
    color: #ffffff;
    border-radius: 7px;
    transition: 0.3s all ease-in;
}

