/* MAIN */

main {
    font-family: 'Poppins', sans-serif;
    width: 60%;
    display: flex;
    margin: 5rem auto;
    align-items: center;
    border-radius: 20px;
    box-shadow: 20px 20px 50px #b5d0ff;
}

.cartDiv {
    width: 50%;
}

.cartDiv:last-of-type {
    text-align: center;
}

.cartDiv img {
    border-radius: 20px 0 0 20px;
    vertical-align: bottom;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: var(--accent);
    margin-top: 1rem;
    margin-bottom: 0.2em;
}

main h3 {
    font-size: 2rem;
    font-weight: lighter;
    padding-bottom: 1em;
    color: var(--fill);
}

#coloniesDiv {
    height: 1.5rem;
}

#coloniesDiv select {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    text-indent: -1px;
    font-size: 1.2rem;
    font-weight: lighter;
    color: var(--fill);
}

#coloniesDiv select:hover {
    cursor: pointer;
}

#loginEmail, #loginPassword, #registerEmail, #registerCompanyName, #registerColonyName, #registerCompanyPhoneNumber, #registerPassword, #registerPasswordRepeat {
    width: 100%;
    outline: none;
    border: none;
    background: none;
    font-size: 1.2rem;
    font-weight: lighter;
}

.formBox {
    display: flex;
    align-items: center;
    padding: 3px 0;
    margin: 8px 0;
    border-bottom: 1px solid var(--accent);
    width: 90%;
    color: var(--fill);
}

.formBox span {
    text-align: center;
    padding-left: 5px;
    padding-right: 8px;
    width: 15px;
    height: 15px;
}

form input[value] {
    width: 90%;
    height: 1.7em;
    outline: none;
    background-color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 7px;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.15em;
    cursor: pointer;
    color: var(--background);
    box-shadow: 1px var(--accent);
    transition: transform 250ms ease-in-out;
}

main a {
    color: #C0C0C0;
    text-decoration: none;
}

/* FOOTER */

footer {
    position:fixed;bottom:0;
    width:100%;
    display:block;
}

/* ANIMATION */

form input[value]:hover {
    transform: scale(1.025);
}

form input[value]:active {
    transform: scale(.9);
}

/* RESIZING */

@media only screen and (max-width: 1550px) {
    .cartDiv:first-of-type {
        display: none;
    }

    .cartDiv:last-of-type {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    main {
        width: 90%;
    }
}
