/* circles */
.circle-chart__circle {
    animation: circle-chart-fill 2s reverse;
    transform: rotate(-90deg);
    transform-origin: center;
}

.circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
}

.circle-chart__info text {
    font-family: 'Balsamiq Sans', 'Arial', 'Helvetica', cursive;
    color: var(--fill);
}

@keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* CUSTOM */

#upperPart {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    align-items: center;
    background-color: var(--accent);
    padding: 40px 0;
}

#resourcesListWithCircle, #doughnutChar {
    margin: 20px;
}

#resourcesListWithCircle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

.resourceWithCircle {
    display: flex;
    align-items: center;
    color: var(--fill);
    margin: 5px 0 5px 30px;
    width: max-content;
}

.resourceWithCircle p {
    font-family: 'Balsamiq Sans', 'Arial', 'Helvetica', cursive;
}

.resourceWithCircle svg {
    margin-right: 20px;
}

.resourceWithCircle img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background-color: #92FE9D;
    border-radius: 20px;
    border: 1px solid var(--fill);
    padding: 3px;
}
