/* BODY */

body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 1rem;
}

/* FORM */

#filtersMartianColonies:hover {
    cursor: pointer;
}

#search-martian-colonies-form {
    width: 100%;
    display: inline-flex;
    margin: 2rem 0;
}

#search-martian-colonies-form div {
    width: 25rem;
    margin-right: 15px;
}

#search-martian-colonies-form select {
    width: 11rem;
    color: var(--fill);
    font-size: 1.1rem;
}

#search-martian-colonies-form div, #search-martian-colonies-form select {
    outline: none;
    border: none;
    background-color: var(--background);
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

#search-martian-colonies-form div input {
    background: none;
    border: none;
    outline: none;
    width: 23rem;
    font-size: 1.1rem;
    color: var(--fill);
}

#search-martian-colonies-form div:hover, #search-martian-colonies-form select:hover {
    background-color: #fff;
    box-shadow: 0 0 20px 0 #f3f3f3 inset,
    0 0 20px 0 #f3f3f3 inset;
}

.margin-left {
    width: 80%;
    margin: auto;
}

/* Result Article */

#martianColonies {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    margin: auto;
}

.martianColony {
    position: relative;
    flex: 0 1 45%;
    display: flex;
    height: 8rem;
    padding: 15px;
    box-shadow: 0 0 15px 10px var(--background);
    border-radius: 5px;
    transition: transform 250ms ease-in-out;
    color: var(--fill);
}

.martianColony img {
    margin-right: 25px;
    height: 8rem;
    border-radius: 10px;
}

.martianColony h2 {
    font-size: 2.5rem;
    color: var(--accent);
    margin: 0 20px 1.75rem 0;
}

.colonyInformation ul li {
    margin: 10px 0;
    line-height: 1.3rem;
    font-family: 'Balsamiq Sans', 'Arial', 'Helvetica', cursive;
    display: flex;
    flex-flow: row;
}

.colonyInformation ul li span, .colonyInformation ul li div, .martianColonyDetails span, .martianColonyDetails div {
    display: inline;
}

.colonyInformation ul li span {
    margin-right: 20px;
}

.martianColonyDetails span {
    margin-right: 10px;
}

.martianColonyDetails {
    font-family: 'Balsamiq Sans', 'Arial', 'Helvetica', cursive;
    color: var(--accent);
    height: max-content;
    width: max-content;
    padding: 10px;
    margin-left: auto;
    background-color: var(--fill);
    border: 2px solid var(--fill);
    border-radius: 5px;
    text-decoration: none;
}

.martianColonyDetails:hover {
    cursor: pointer;
    background-color: var(--accent);
    color: var(--fill);
    transition: 0.3s all ease-in;
}

#buttonResult {
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
    margin: 1.5rem 10% 2.5rem 10%;
}

#buttonResult a {
    width: 8rem;
    padding: 7px;
    background-color: #3da9ff;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 250ms ease-in-out;
}

#buttonResult p {
    color: var(--fill);
    font-size: 1.3rem;
    font-weight: lighter;
}

#buttonResult span:first-of-type {
    padding-left: 5px;
}

#buttonResult span:last-of-type {
    padding-right: 5px;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
}

