/* BODY */

body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 1rem;
}

/* MAIN */

.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

/* FORM */

#contactUsDiv {
    width: 80%;
    margin: auto;
}

#contactUsDiv h2 {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: var(--accent);
    margin-bottom: 2rem;
}

#contactUsForm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.formBoxContact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formBoxContact input {
    width: 100%;
    outline: none;
    border: none;
    color: var(--fill);
    font-size: 1.2rem;
    font-weight: lighter;
}

.formInputBox {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0;
    margin: 1rem 0;
    border: none;
    border-bottom: 1px solid var(--accent);
    color: var(--fill);
}

.formInputBox span {
    text-align: center;
    padding-left: 5px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    writing-mode: vertical-lr;
}

.formAreaBox {
    width: 100%;
    margin: 1rem 0;
}

.formAreaBox textarea {
    width: 100%;
    height: 9rem;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    color: var(--fill);
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: 'Arial', 'Helvetica', sans-serif;
    letter-spacing: 1px;
    border: 2px solid var(--accent);
    border-radius: 5px;
}

#formSendButton {
    display: flex;
    align-items: center;
    width: 30%;
    height: 2.5rem;
    letter-spacing: 0.15em;
    background-color: var(--accent);
    border-radius: 7px;
    box-shadow: 1px var(--accent);
    transition: transform 250ms ease-in-out;
    margin-bottom: 2rem;
}

#formSendButton input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1.2rem;
}

/* ANIMATION */

#formSendButton:hover {
    transform: scale(1.025);
}

#formSendButton:active {
    transform: scale(.9);
}

/* INFORMATION TAB */

#marsDexInformation {
    width: 100%;
    margin: auto;
}

#marsDexInformation > div {
    width: 80%;
    margin: auto;
}

#marsDexInformation h3 {
    color: var(--fill);
    font-weight: lighter;
    font-size: 2.8rem;
    margin-bottom: 3.2rem;
}

#marsDexInformation ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#marsDexInformation ul li {
    padding: 7px 0;
    letter-spacing: 2px;
    color: var(--fill);
}

#marsDexInformation > div img {
    margin-bottom: 4rem;
}

#marsDexInformation ul li:last-of-type {
    margin-bottom: 22px;
}

#marsDexInformation ul span {
    margin-right: 10px;
    height: 15px;
    width: 15px;
    writing-mode: vertical-lr;
}

#contactUsMessage {
    padding: 10px;
}

/* Screen Resizing */

@media only screen and (min-width: 650px) {
    main {
        flex-direction: row;
    }
}

@media only screen and (max-width: 650px) {
    #contactUsDiv, #marsDexInformation {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}

@media only screen and (max-width: 1050px) {
    .formBoxContact {
        flex-direction: column;
    }

    .formInputBox {
        width: 100%;
    }

    #formSendButton {
        width: 100%;
        margin-bottom: 2rem;
    }
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
}
