
.hidden {
    display: none;
}

#overview-page, #settings-page, #account-page, #notificationDetails {
    font-family: "Arial", "Helvetica", sans-serif;
    color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 30em;
    width: 50em;
    background-color: var(--fill);
    border: 3px solid var(--fill);
    padding: 20px;
    z-index: 3;
    border-radius: 20px;
}

#overview-page .close, #settings-page .close, #account-page .close, #notificationDetails .close, #shipping-details .close {
    color: var(--fill);
    border: 2px solid var(--fill);
    font-weight: bold;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 23px;
    padding: 5px;
    text-transform: uppercase;
    font-family: "Arial", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%) translateY(-50%);
    cursor: pointer;
}

#overview-page .close:hover, #settings-page .close:hover, #account-page .close:hover, #notificationDetails .close:hover {
    color: #ffffff;
    background-color: var(--fill);
    transition: 0.3s all ease-in;
}

#overview-page h2, #settings-page h2, #account-page h2 {
    text-transform: capitalize;
    letter-spacing: 2px;
}

section > h2 {
    text-align: center;
    font-family: 'Big Shoulders Stencil Display', 'Arial', 'Helvetica', cursive;
    font-size: 2em;
    text-transform: lowercase;
}

/* OVERVIEW */

section > h2 span, section > h2 div, #overview-page div nav ul li span, #overview-page div nav ul li div, #settings-page div h3 span, #settings-page div h3 div, #settings-page #privacy-policy span, #settings-page #privacy-policy div, #notificationDetails ul li span, #notificationDetails ul li div, #notificationDetails h3 span, #notificationDetails h3 div {
    display: inline;
}

section > h2 div, #overview-page div nav ul li div, #settings-page div h3 div, #notificationDetails ul li div, #notificationDetails h3 div {
    margin-left: 15px;
}

#overview-page div nav ul {
    margin: 0 auto 0 auto;
    width: min-content;
}

#overview-page div nav ul li {
    font-family: 'Balsamiq Sans', 'Arial', 'Helvetica', cursive;
    font-size: 1.5em;
    margin: 3em 0 3em 0;
}

#overview-page div nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

#overview-page div nav ul li:hover, #overview-page div nav ul li a:hover {
    cursor: pointer;
    color: var(--accent);
    transition: 0.3s all ease-in;
}

/* SETTINGS */

#settings-page div h3 {
    font-family: 'Balsamiq Sans', 'Arial', 'Helvetica', cursive;
    font-size: 1.3em;
    margin: 3em 0 1em 1em;
    color: #FFFFFF;
    width: max-content;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 4px;
}


#settings-page div form {
    margin: 0 0 4em 1em;
}

#settings-page div form div {
    margin-bottom: 1em;
}

#settings-page div form input {
    margin-right: 15px;
}

#settings-page div form div label {
    font-family: 'Balsamiq Sans', 'Arial', 'Helvetica', cursive;
    font-size: 1.3em;
    text-transform: capitalize;
    margin-right: 40px;
}

#settings-page div form div label:hover {
    cursor: pointer;
    color: var(--accent);
    transition: 0.3s all ease-in;
}

/* ACCOUNT */

#account-page form {
    width: 90%;
    margin: auto;
}

#account-page form label {
    font-family: 'Balsamiq Sans', 'Arial', 'Helvetica', cursive;
    font-size: 1.1em;
    text-transform: capitalize;
    display: block;
    margin: 15px 0 5px 0;
}

#account-page form input {
    width: 100%;
    border-radius: 10px;
    padding: 5px 0 5px 10px;
    border: none;
}

#account-page #save {
    font-family: 'Balsamiq Sans', 'Arial', 'Helvetica', cursive;
    font-size: 1em;
    color: var(--fill);
    background-color: #FFFFFF;
    border: none;
    margin-top: 25px;
    width: max-content;
    padding: 5px;
    border-radius: 3px;
}

#account-page #save:hover {
    border: 1px solid #ffffff;
    background-color: var(--fill);
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s all ease-in;
}

/* NOTIFICATION DETAILS */

#notificationDetails h2 {
    margin-bottom: 60px;
}

#notificationDetails ul {
    width: max-content;
    margin: 0 auto;
    border: 2px solid #ffffff;
    padding: 20px 100px;
    border-radius: 20px;
}

#notificationDetails h3, #notificationDetails div {
    margin-left: 2em;
    margin-right: 2em;
}

#notificationDetails ul li {
    font-family: 'Balsamiq Sans', 'Arial', 'Helvetica', cursive;
    font-size: 1em;
    margin: 10px 0;
}

#notificationDetails h3 {
    margin-top: 60px;
    margin-bottom: 10px;
}

#notificationDetails div p {
    font-family: 'Balsamiq Sans', 'Arial', 'Helvetica', cursive;
    font-size: 1em;
    text-align: justify;
    line-height: 1em;
    color: #FFFFFF;
}
